/*==========  section  ==========*/
.pagination {
  position: fixed;
  z-index: 3;
  left: 147px;
  bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 52px;
  right: auto !important;
  -webkit-transform: none !important;
          transform: none !important;
  height: auto;
  top: 0 !important; }

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: transparent;
  margin: 0 0 29px;
  opacity: 1;
  outline: none; }
  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet:last-child, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin: 0; }

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  -webkit-box-shadow: 0px 3px 20px 3px rgba(233, 48, 149, 0.5);
          box-shadow: 0px 3px 20px 3px rgba(233, 48, 149, 0.5);
  background: #E93095; }

.swiper {
  height: 100%;
  position: relative;
  overflow: hidden; }
  .swiper:before, .swiper:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%; }
  .swiper:before {
    background: url("../img/decor2.svg") no-repeat left center;
      background-size: cover;
    width: 1161px;
    left: 0; }
  .swiper:after {
    background: url("../img/decor1.svg") no-repeat right center;
      background-size: cover;
    right: 0;
    width: 1126px; }

.swiper-slide {
  padding: 0 0 50px;
  overflow: hidden; }
  .swiper-slide .container {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .swiper-slide .box-text {
    margin: 30px 0 60px; }

.slider-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 110%; }

.scroll-section-content {
  width: 100%;
  height: 100%;
  max-width: 660px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1; }

.links-scroll {
  position: absolute;
  left: 0;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .links-scroll__icon {
    margin: 0 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 24px;
    height: 24px; }

.scroll-section-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -5px;
  right: 0;
  max-width: 888px;
  width: 100%; }

.scroll-section1 {
  background: url("../img/bg1.svg") no-repeat center;
    background-size: cover; }

.scroll-section2 {
  background: url("../img/bg2.svg") no-repeat center;
    background-size: cover; }
  .scroll-section2 .scroll-section-img {
    max-width: 835px;
    bottom: 49px; }

.scroll-section3 {
  background: url("../img/bg3.svg") no-repeat center;
    background-size: cover; }
  .scroll-section3 .scroll-section-img {
    max-width: 1027px;
    bottom: -50px;
    right: -170px; }

.scroll-section4 {
  background: url("../img/bg4.svg") no-repeat center;
    background-size: cover; }
  .scroll-section4 .scroll-section-img {
    max-width: 858px;
    bottom: -9px;
    right: -100px; }

.scroll-section5 {
  background: url("../img/bg5.svg") no-repeat center;
    background-size: cover; }
  .scroll-section5 .scroll-section-img {
    max-width: 946px;
    bottom: -15px;
    right: -40px; }

.scroll-section6 {
  background: url("../img/bg6.svg") no-repeat center;
    background-size: cover; }
  .scroll-section6 .scroll-section-img {
    max-width: 887px;
    bottom: 70px;
    right: -30px; }

/*==========  section end  ==========*/
/*==========  section modal ==========*/
.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.modal__div {
  position: fixed;
  max-width: 272px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }

.modal__close {
  position: absolute;
  right: 15px;
  top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  stroke: #fff;
  fill: none; }

.modal__wrapper {
  background: #06112D;
  border: 0.5px solid #FFFFFF;
    border-radius: 14px;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 40px 15px 30px; }
  .modal__wrapper h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto 20px;
    line-height: 15px;
    font-size: 12px; }

.modal-icon {
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95px; }

.mobile-menu {
  position: fixed;
  z-index: 101;
  right: 0;
  top: 0;
  background: #06112D;
  padding: 20px 15px 15px;
  display: none; }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 12px;
    margin: 30px 0; }
    .mobile-menu .menu li {
      margin: 0 0 10px; }
      .mobile-menu .menu li:last-child {
        margin: 0; }
  .mobile-menu .list-language {
    font-size: 12px; }
    .mobile-menu .list-language li {
      margin: 0 10px 0 0; }
  .mobile-menu .list-social {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0; }
    .mobile-menu .list-social li {
      margin: 0 10px 0 0; }
      .mobile-menu .list-social li a {
        width: 18px;
        height: 18px;
        border-radius: 0;
        background: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        fill: rgba(255, 255, 255, 0.5); }
  .mobile-menu .btn {
    margin: 30px 0 0;
    height: 32px;
    width: 100%;
    max-width: 170px;
    min-width: 170px;
    font-size: 12px;
    padding: 0 5px; }
    .mobile-menu .btn .btn-icon {
      width: 22px;
      height: 22px; }
      .mobile-menu .btn .btn-icon .svg-icon {
        width: 7px;
        height: 10px; }

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  stroke: #fff;
  top: 19px;
  right: 15px; }

.btn-burger {
  width: 24px;
  height: 24px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: #fff; }

/*==========  section end  ==========*/
