/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px) {
  .pagination {
    left: 50px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1590px) {
  .container {
    max-width: 1200px; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img {
    max-width: 605px; }
  .scroll-section5 .scroll-section-img {
    max-width: 750px; }
  .scroll-section3 .scroll-section-img {
    max-width: 800px; }
  .list-language {
    margin: 0 40px 0 0; }
  .menu {
    margin: 0 auto 0 40px; }
  .pagination {
    left: 40px; } }

@media only screen and (max-width: 1360px) {
  .container {
    max-width: 990px; }
  header {
    font-size: 15px; }
    header .list-language {
      margin: 0 20px 0 0; }
    header .menu {
      margin: 0 auto 0 20px; }
  .list-language li {
    margin: 0 10px 0 0; }
  .slider-title {
    font-size: 50px; }
  .box-text {
    font-size: 20px; }
  .btn {
    font-size: 18px;
    height: 50px; }
  .btn-icon {
    width: 40px;
    height: 40px; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 550px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 0; }
  .scroll-section-content {
    max-width: 450px; }
  .pagination {
    left: 10px; } }

@media only screen and (max-width: 1100px) {
  header {
    padding: 24px 0; }
    header .menu {
      display: none; }
    header .list-language {
      display: none; }
  .header-links {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 auto; }
  .pagination {
    display: none; }
  .container {
    padding: 0 24px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  .slider-title {
    font-size: 40px; }
  .box-text {
    font-size: 16px; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 400px; }
  .scroll-section-content {
    max-width: 400px; } }

@media only screen and (max-width: 768px) {
  .social {
    display: none; }
  .scroll-section-content {
    max-width: none;
    padding: 100px 0 186px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 350px;
    width: 100%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: auto;
    left: 50%;
    right: auto; }
  .links-scroll {
    display: none; }
  .swiper-slide {
    padding: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .swiper:after {
    width: 320px;
    background: url("../img/decor1-mob.svg") no-repeat right center;
      background-size: cover; }
  .swiper:before {
    width: 320px;
    background: url("../img/decor2-mob.svg") no-repeat left center;
      background-size: cover; }
  .swiper .box-text {
    margin: 10px 0 20px; }
  .scroll-section1 {
    background: url("../img/bg1-mob.svg") no-repeat center;
      background-size: cover; }
  .scroll-section2 {
    background: url("../img/bg2-mob.svg") no-repeat center;
      background-size: cover; }
  .scroll-section3 {
    background: url("../img/bg3-mob.svg") no-repeat center;
      background-size: cover; }
  .scroll-section4 {
    background: url("../img/bg4-mob.svg") no-repeat center;
      background-size: cover; }
  .scroll-section5 {
    background: url("../img/bg5-mob.svg") no-repeat center;
      background-size: cover; }
  .scroll-section6 {
    background: url("../img/bg6-mob.svg") no-repeat center;
      background-size: cover; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 300px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 280px; }
  .scroll-section-content {
    padding: 85px 0 140px; }
  .logo {
    max-width: 34px; }
  .slider-title {
    font-size: 26px; }
    .slider-title br {
      display: none; }
  .box-text {
    font-size: 12px; }
  .btn {
    min-width: 144px;
    max-width: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    padding: 0 5px 0 20px;
    height: 32px;
    font-weight: normal; }
  .btn-icon {
    margin: 0 0 0 9px;
    width: 22px;
    height: 22px; }
    .btn-icon .svg-icon {
      width: 3px;
      height: 7px; } }
