/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px) {
  .pagination {
    left: 50px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1590px) {
  .container {
    max-width: 1200px; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img {
    max-width: 605px; }
  .scroll-section5 .scroll-section-img {
    max-width: 750px; }
  .scroll-section3 .scroll-section-img {
    max-width: 800px; }
  .list-language {
    margin: 0 40px 0 0; }
  .menu {
    margin: 0 auto 0 40px; }
  .pagination {
    left: 40px; } }

@media only screen and (max-width: 1360px) {
  .container {
    max-width: 990px; }
  header {
    font-size: 15px; }
    header .list-language {
      margin: 0 20px 0 0; }
    header .menu {
      margin: 0 auto 0 20px; }
  .list-language li {
    margin: 0 10px 0 0; }
  .slider-title {
    font-size: 50px; }
  .box-text {
    font-size: 20px; }
  .btn {
    font-size: 18px;
    height: 50px; }
  .btn-icon {
    width: 40px;
    height: 40px; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 550px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 0; }
  .scroll-section-content {
    max-width: 450px; }
  .pagination {
    left: 10px; } }

@media only screen and (max-width: 1100px) {
  header {
    padding: 24px 0; }
    header .menu {
      display: none; }
    header .list-language {
      display: none; }
  .header-links {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 auto; }
  .pagination {
    display: none; }
  .container {
    padding: 0 24px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  .slider-title {
    font-size: 40px; }
  .box-text {
    font-size: 16px; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 400px; }
  .scroll-section-content {
    max-width: 400px; } }

@media only screen and (max-width: 768px) {
  .social {
    display: none; }
  .scroll-section-content {
    max-width: none;
    padding: 120px 0 256px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 450px;
    width: 100%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: auto;
    left: 50%;
    right: auto; }
  .links-scroll {
    display: none; }
  .swiper-slide {
    padding: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .swiper:after {
    width: 320px;
    background: url("../img/decor1-mob.svg") no-repeat right center;
      background-size: cover; }
  .swiper:before {
    width: 320px;
    background: url("../img/decor2-mob.svg") no-repeat left center;
      background-size: cover; }
  .swiper .box-text {
    margin: 10px 0 20px; }
  .circle3 {
    width: 313px;
    height: 313px;
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -89px;
    top: -205px; }
  .circle {
    width: 313px;
    height: 313px; }
  .circle1 {
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    bottom: 41px;
    right: -156px; }
  .circle2 {
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -253px;
    bottom: -97px; }
  .circle5 {
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    right: -190px;
    bottom: -134px;
    top: auto; }
  .circle4 {
    top: -108px;
    left: -163px;
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .circle6 {
    left: 50%;
    -webkit-transform: translate(-50%, 0) rotate(-135deg);
            transform: translate(-50%, 0) rotate(-135deg);
    bottom: -42px;
    top: auto;
    -webkit-filter: blur(162.993px);
            filter: blur(162.993px); }
  .scroll-section3 .circle5 {
    top: -254px;
    right: -198px;
    bottom: auto;
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px); }
  .circle7 {
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
    left: -155px;
    top: -251px; }
  .circle8 {
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
    right: -198px;
    bottom: -207px; }
  .circle10 {
    top: -218px;
    right: -202px;
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); }
  .circle9 {
    left: -180px;
    bottom: -137px;
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); }
  .circle11 {
    -webkit-filter: blur(143.652px);
            filter: blur(143.652px);
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
    top: -87px;
    left: -180px; }
  .scroll-section6 .circle5 {
    bottom: -23px;
    right: -46px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .scroll-section-img, .scroll-section2 .scroll-section-img, .scroll-section4 .scroll-section-img, .scroll-section6 .scroll-section-img, .scroll-section3 .scroll-section-img, .scroll-section5 .scroll-section-img {
    max-width: 280px; }
  .scroll-section-content {
    padding: 85px 0 260px; }
  .logo {
    max-width: 34px; }
  .slider-title {
    font-size: 26px; }
    .slider-title br {
      display: none; }
  .box-text {
    font-size: 12px; }
  .btn {
    min-width: 144px;
    max-width: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    padding: 0 5px 0 20px;
    height: 32px;
    font-weight: normal; }
  .btn-icon {
    margin: 0 0 0 9px;
    width: 22px;
    height: 22px; }
    .btn-icon .svg-icon {
      width: 3px;
      height: 7px; } }
